[Desktop Entry]
Name=Glance
Comment=Telemetry Dashboard
Exec=/usr/bin/glance
Icon=/usr/share/icons/hicolor/scalable/apps/glance.svg
Terminal=false
Type=Application
Categories=Utility;Science;
StartupNotify=true
